{% extends "master.html.twig" %}

{% block title %}Site Administration{% endblock %}

{% block mainContent %}
    
    <div class="products">
        <h2>Site Administration</h2>
        <p>What would you like to do today?</p>
        <a href="/admin/categories/list">Edit Categories</a><br>
        <a href="/admin/products/list">Edit Products</a>
    </div>
                
{% endblock %}