{% extends "master.html.twig" %}

{% block title %} Success {% endblock %}

{% block mainContent %}

    <div class="products">
        <h2>Transaction Success</h2>
        <p>{{ message }}</p>
    </div>
    
{% endblock %}
