{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block mainContent %}
    <div class="products">
        <h2>Internal error</h2>
        <p>We're very sorry, we failed to fulfill your request.</p>
        <p>Click<a href="/">here</a> to back to Homepage continue</p>
    </div>
{% endblock %}
