{% extends "master.html.twig" %}

{% block title %}Access Forbidden{% endblock %}

{% block mainContent %}
    <div class="products">
        <h2> Access Forbiden </h2>
        <p>Sorry, you don't have access to this URL</p>
        <p>Click <a href="/login">here</a> to loggin</a></p>
    </div>
{% endblock %}
