{% extends "master.html.twig" %}

{% block title %} Order Confirmation {% endblock %}

{% block mainContent %}
    
    <div class="products">
        <h2>Order Confirmation</h2>
        <p>Your product(s) will arrive soon!! Your orderID number is {{ orderHeaderID }}.</p>
        <p>Thank you for buying from us!</p>
    </div>
    
{% endblock %}

